section.invest-section
  .wrapper
    .invest-section__container.text-center
      h2.invest-section__title.font-w-bold.font-s-48.text-up
        | Выберите размер 
        span.mark-orange вашего города,
      .invest-section__sub-title.font-w-medium.font-s-30 чтобы узнать точный размер вложений и все условия сотрудничества
      .swiper-large
        .invest-section__cards.swiper-wrapper.swiper-wrapper-invest
          .swiper-slide.swiper-slide-invest
            .invest-section__card
              .font-w-semi-bold.font-s-30 до 500 000 <br> жителей
              img.invest-section__img(src="images/invest-section-img1.jpg" loading="lazy" width="230" height="187" alt="image")
              button.btn(data-remodal-target="modal-form-investments") узнать
          .swiper-slide.swiper-slide-invest
            .invest-section__card
              .font-w-semi-bold.font-s-30 до 1 000 000 <br> жителей
              img.invest-section__img(src="images/invest-section-img2.jpg" loading="lazy" width="230" height="187" alt="image")
              button.btn(data-remodal-target="modal-form-investments") узнать
          .swiper-slide.swiper-slide-invest
            .invest-section__card
              .font-w-semi-bold.font-s-30 от 1 000 000 <br> жителей
              img.invest-section__img(src="images/invest-section-img3.jpg" loading="lazy" width="230" height="187" alt="image")
              button.btn(data-remodal-target="modal-form-investments") узнать
        .large-pagination.swiper-progress-large
