section.presentation-section
  .wrapper
    .presentation-section__container
      h2.presentation-section__title.font-w-bold.font-s-48.text-up.text-center
        | Так выглядят уже работающие
        br
        | магазины 
        span.mark-orange «CHESTORE»
      .swiper-medium-steps
        .presentation-section__cards.swiper-wrapper
          img.presentation-section__headphones(src="images/presentation-section-headphones.png" loading="lazy" width="234" height="273" alt="headphones")
          img.presentation-section__watch(src="images/presentation-section-watch.png" loading="lazy" width="278" height="309" alt="watch")
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img1.jpg" loading="lazy" width="380" height="456" alt="image")
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img2.jpg" loading="lazy" width="380" height="456" alt="image")
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img3.jpg" loading="lazy" width="380" height="456" alt="image")
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img4.jpg" loading="lazy" width="380" height="456" alt="image")
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img5.jpg" loading="lazy" width="380" height="456" alt="image")
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img6.jpg" loading="lazy" width="380" height="456" alt="image")
        .medium-pagination.swiper-progress-medium-steps
