section.start-section
  .wrapper
    .start-section__container
      h2.start-section__title.font-w-bold.font-s-48.text-up.text-center
        | Схема запуска вашего первого
        br
        | магазина 
        span.mark-orange за 43 дня
      .swiper-lg
        .start-section__box.swiper-wrapper
          .start-section__box-left.swiper-slide
            .start-section__line-left
            .start-section__box-inner
              img.start-section__icon(src="images/start-section-icon1.svg" loading="lazy" width="50" height="50" alt="icon")
              .font-s-18 Заключение договора франшизы
            .start-section__box-inner
              img.start-section__icon(src="images/start-section-icon2.svg" loading="lazy" width="50" height="50" alt="icon")
              .font-s-18 Поиск помещения и заключение договора аренды
            .start-section__box-inner
              img.start-section__icon(src="images/start-section-icon3.svg" loading="lazy" width="50" height="50" alt="icon")
              .font-s-18 Ремонт и оформление помещения
            .start-section__box-inner
              img.start-section__icon(src="images/start-section-icon4.svg" loading="lazy" width="50" height="50" alt="icon")
              .font-s-18 Изготовление мебели
            .start-section__box-inner
              img.start-section__icon(src="images/start-section-icon5.svg" loading="lazy" width="50" height="50" alt="icon")
              .font-s-18 Подача заявления на патент
          .start-section__box-right.swiper-slide
            .start-section__line-right
            .start-section__box-inner
              img.start-section__icon(src="images/start-section-icon6.svg" loading="lazy" width="50" height="50" alt="icon")
              .font-s-18 Поиск персонала
            .start-section__box-inner
              img.start-section__icon(src="images/start-section-icon7.svg" loading="lazy" width="50" height="50" alt="icon")
              .font-s-18 Обучение персонала
            .start-section__box-inner
              img.start-section__icon(src="images/start-section-icon8.svg" loading="lazy" width="50" height="50" alt="icon")
              .font-s-18 Формирование товарного ассортимента
            .start-section__box-inner
              img.start-section__icon(src="images/start-section-icon9.svg" loading="lazy" width="50" height="50" alt="icon")
              .font-s-18 Официальное открытие
        .lg-pagination.swiper-progress-lg
      .start-section__bottom
        .font-w-bold.font-s-34 Работаем строго по договору,
        .start-section__bottom-text.font-w-medium.font-s-26
          | в котором описаны наши обязанности
          br
          span.mark-orange и все условия сотрудничества
        button.btn.start-item(data-remodal-target="modal-form-agreement") скачать пример договора
        img.start-section__bottom-img(src="images/start-section-img.png" loading="lazy" width="691" height="657" alt="image")
        img.start-section__bottom-arrow(src="images/start-section-arrow.svg" loading="lazy" width="173" height="50" alt="arrow")

