.presentation-section
  background-color #000
  position relative
  z-index 1

  &__container
    position relative
    padding 20px 0 20px 0
    +above($breakpoints.sm)
      padding 30px 0 100px 0
    +above($breakpoints.md)
      padding 40px 0 160px 0
    +above($breakpoints.lg)
      padding 56px 0 160px 0
    &:before
      content: "";
      transform: rotate(5deg);
      position: absolute;
      z-index: -2;
      filter: blur(92px);
      background: #f08427;
      width: 146%;
      height: 257px;
      top: 43%;
      left: -26%;
      +above($breakpoints.md)
        transform: rotate(29deg);
      +above($breakpoints.lg)
        transform: rotate(36deg);

  &__headphones
    display: none
    +above($breakpoints.sm)
      display: block
      position: absolute
      z-index 2
      width 150px
      height: auto
      bottom: -63px;
      right: -86px;
    +above($breakpoints.md)
      width 234px
      bottom: -91px;
      right: -142px;

  &__watch
    display: none
    +above($breakpoints.sm)
      display: block
      position: absolute
      z-index 1
      width 200px
      height: auto
      top: -69px;
      left: -102px;
    +above($breakpoints.md)
      width 278px
      top: -100px;
      left: -140px;

  &__title
    padding 0 0 20px 0
    +above($breakpoints.sm)
      padding 0 0 40px 0
    +above($breakpoints.md)
      padding 0 0 60px 0
    +above($breakpoints.lg)
      padding 0 0 82px 0

  &__cards
    +above($breakpoints.sm)
      position relative
      display: flex
      flex-direction: row
      flex-wrap: wrap
      justify-content space-between
      gap: 10px
      +above($breakpoints.md)
        gap: 20px

  &__card
    width 300px !important
    +above($breakpoints.sm)
      width 235px !important
    +above($breakpoints.md)
      width 300px !important
    +above($breakpoints.xxl)
      width 380px !important

  &__img
    width 300px !important
    height: auto
    border-radius: 16px
    +above($breakpoints.sm)
      width 235px !important
    +above($breakpoints.md)
      width 300px !important
    +above($breakpoints.xxl)
      width 380px !important

